<% @task.errors.full_messages.each do |msg| %>
  <p class='text-danger'><%= msg %></p>
<% end %>
<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
  <%= f.label :details %>
  <%= f.text_area :details, class: "form-control" %>
  <%= f.check_box :completed, class:"mt-2" %>
  <%= f.label :completed %>
  <br>
  <%= f.submit 'Submit', class: 'btn btn-success mt-3' %>
<% end %>
